body {
  background-image: url(./Images/ballon-large.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #112a46;
}

h1 {
  margin-top: 5em;
  font-size: 1.5em;
}

label {
  font-size: 20px;
}

input {
  margin-bottom: 30px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

input:focus {
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.6);
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: #112a46;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

button:active {
  background-color: #3e8e41;
}

.result {
  margin: auto;
  border: 1px solid black;
  border-radius: 10px;
  width: 8em;
  background-color: #112a46;
  color: white;
}

@media only screen and (max-width: 600px) {
  body {
    background-image: url(./Images/ballon\ small.jpg);
    color: black;
  }

  h1 {
    margin-top: 5em;
    font-size: 1.4em;
  }

  #para {
    max-width: 20em;
    margin-left: 1em;
    margin-right: 1em;
    font-size: 1.2em;
  }

  input {
    padding: 0.3em 0.5em;
    margin-bottom: 0.7em;
  }

  button {
    padding: 5px 12px;
    background-color: white;
    color: black;
  }

  label {
    font-size: 1.2em;
  }

  h2 {
    font-size: 1.1em;
  }

  .result {
    background-color: white;
    color: black;
  }
}
